@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar {
  z-index: 100; /* Pastikan nilai ini lebih besar dari elemen lain */
}

.masonry {
  column-count: 1; /* Jumlah kolom */
  column-gap: 1rem; /* Jarak antar kolom */
}

.masonry-item {
  break-inside: avoid; /* Menghindari elemen putus di tengah */
  margin-bottom: 1rem; /* Jarak antar elemen */
}

@media (min-width: 344px) {
  .masonry {
    column-count: 2; /* Jumlah kolom untuk layar lebih besar */
  }
}
@media (min-width: 514px) {
  .masonry {
    column-count: 3; /* Jumlah kolom untuk layar lebih besar */
  }
}
@media (min-width: 684px) {
  .masonry {
    column-count: 4; /* Jumlah kolom untuk layar lebih besar */
  }
}
@media (min-width: 854px) {
  .masonry {
    column-count: 5; /* Jumlah kolom untuk layar lebih besar */
  }
}
@media (min-width: 1024px) {
  .masonry {
    column-count: 6;
  }
}

/* CSS untuk navbar bawah */
nav.navbar-bottom {
  background-color: #fff;
}

nav.navbar-bottom:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Lebih gelap saat hover */
}

/* Tambahan CSS untuk comment section */
.comment-section.fixed {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
  border-color: #e5e7eb;
}

/* Pola navbar */
.navbar-pattern {
  background-image: url('/public/navbar.svg');
  background-size: cover;
}

/* Add this to your stylesheet */

/* Mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
  /* Make the navbar and sidebar responsive */
  nav {
    flex-direction: row;
    align-items: center;
  }
  
  .Sidebar {
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .Sidebar.isOpen {
    transform: translateX(0);
  }
  
  /* Make the SoalPage content responsive */
  .SoalPage {
    flex-direction: column;
    align-items: center;
  }
  
  .SoalPage .question-container {
    width: 100%;
    padding: 20px;
  }
  
  .SoalPage .pagination-buttons {
    flex-direction: column;
    align-items: center;
  }
  
  .SoalPage .pagination-buttons button {
    width: 100%;
    margin-bottom: 10px;
  }
}